/* Example media query
@media only screen and (min-width: 500px) {
    body {
        background-color: salmon;
    }
}  */

/* Utilities */
body {
    background-color: salmon;
}

h1 {
    font-size: 3rem;
    /*  font-size: calc(1.5em + 1.5vw); */
}

img {
    max-width: 100%;
    display: none;
}

.purple-react {
    background-color: plum;
    border: 1px solid lightcoral;
  }

  .blue-react {
    background-color: lightcyan;
    border: 1px solid lightcoral;
  }

.row-background {
    background-color: burlywood;
    padding: 1%;
}

@media only screen and (min-width: 600px) {
    body {
        background-color: blanchedalmond;
    }

    img {
        display: block;
    }
} 

@media only screen and (min-width: 800px) {
    body {
        background-color: darkslateblue;
    }
} 

@media only screen and (min-width: 1000px) {
    body {
        background-color: yellow;
    }
} 




